body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
}
.nav-title {
  color: rgb(0, 0, 0);
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  margin-right: 50px;
  color: rgb(229, 26, 94);
}
.btn-primary {
  border-radius: 5px;
  background: rgb(188, 108, 108);
  border: none;
  font-size: 20px;
  font-weight: 700px;
}
.header {
  background-color: rgb(177, 157, 144);
}
.banner {
  padding: 30px, 30px, 30px, 150px;
  display: flex;
}
.banner.profile-pic {
  width: 500px;
  display: flex;
}
